<!DOCTYPE html>
<html>
<head>
  <title>AuditedActions</title>
  <%= stylesheet_link_tag    "audited_actions/application", :media => "all" %>
  <%= javascript_include_tag "audited_actions/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
